@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
body {
    background-image: url("gameplay.png");
    background-repeat: no-repeat;
    background-size: 100%; 
    background-color: black;
    color: blueviolet;
}
h1 {
    background-color: rgba(150, 150, 150, 0.3);
    font-family: 'Lacquer', sans-serif;
}
p {
    font-family: 'Lacquer', sans-serif;
}
.margin{
    margin: 1px 900px 1px 1px;
}

/*style="width:400px;height:400px;"*/